@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body,html{
    /* background-color: orange; */
    height: 100vh;
    grid-template-columns: 1fr auto;
    display: grid;
    align-items: center;
}
.page-2{
    grid-column: 1;
    margin-left: 140px;
    width: 80vw;
    height: 90%;
    /* background-color: white; */
    /* box-shadow: 1px 3px 1px rgb(148, 140, 140); */
}
.bg-wht{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "n h b";
}
.image{
    grid-area: n;
}
.image img{
    margin: 50px;
    width: 200px;
    place-content:  center;
    
}
.heading{
    grid-area: h;
}
.heading h3{
    margin-left: -80px;
    margin-top: 40px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    line-height: 30px;
}
.heading h3 span{
    color: blueviolet;
}
.bullets{
    display: grid;
    grid-area: b;
    grid-column: 3/5;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "num pra";
    margin-top: 80px;
    margin-left: -120px;
}
.numbers{
    grid-area: num;
    display: grid;
    font-size: 1.6em;
    font-weight: bolder;
    color: red;
    gap:15px;
}
.para{
    grid-area: pra;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: -284px;
}
.para ul{
    display: grid;
    gap:35px;

}
.para ul p{
    font-size: .7em;
}

/* responsive */
@media (min-width: 481px ) and ( max-width: 768px) {
    .page-2{
        background-color: white;
        grid-column: 1;
        margin-left: 70px;
        width: 80vw;
        height: 90%;
        box-shadow: 1px 3px 1px rgb(148, 140, 140);
    }
    .image img{
        margin: 25px;
        width: 120px;
        place-content:  center;
        
    }
    .heading h3{
        margin-left: 20px;
        margin-top: 20px;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        font-weight: bolder;
        /* line-height: 30px; */
        /* justify-content: right; */
        /* align-items: flex-start; */
        white-space: nowrap;
    }

    .bullets{
        display: grid;
        grid-area: b;
        grid-column: 3/5;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "num pra";
        margin-top: 100px;
        /* margin-left: -60px; */
    }
    .numbers{
        grid-area: num;
        display: grid;
        font-size: 1em;
        font-weight: bolder;
        color: red;
        /* gap:-15px; */
        margin-left: -100px;
    }
    .para{
        grid-area: pra;
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: space-around; */
        /* align-items: flex-end; */
        margin-left: -264px;
    }
    .para ul p{
        font-size: .6em;
    
    }


}